* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(63, 163, 4);
    border: 8px dashed rgb(20, 197, 29);
}



#player {
	background-color: rgb(34, 33, 33);
	border: 4px dashed rgb(0, 0, 0);
	width: 25px;
	height: 25px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: rgba(157, 255, 0, 0.575);
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}